body *{
  font-family: "Cabin", sans-serif;
}

h1 {
  font-weight: 600;
}

body {
  background-color: rgb(234, 234, 234);
}

.page {
  width: 850px;
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 10px;
}

.page-section {
  margin-bottom: 10px;
}

.vis-container {
  width: 100%;
}

#div1 {
  border-radius: 15px;
}

#div2 {
  border-radius: 15px;
}

#div3 {
  border-radius: 15px;
}

#div4 {
  border-radius: 15px;
  background-color: rgb(229, 229, 229);
  color: gray;
  font-size: small;
}

.description h2,
h2 {
  margin-top: 10px;
}

.description-right {
  padding-left: 10px;
}

.description-left {
  padding-right: 10px;
}

.pure-g {
  margin-bottom: 10px;
}

.small-font {
  font-size: 14px;
}